@font-face {
    font-family: "Aptos";
    src: url("Fuentes/aptos.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Marker Twins";
    src: url("Fuentes/TwinMarker.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Agency FB";
    src: url("Fuentes/agency_fb.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html{
    background-color:#4c4a72;
    font-family: Agency FB;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: white;
}

.thin{
    width: 690px;
    display: inline-block;
}

.s16px{
    font-size: 16px;
}

.s24px{
    font-size: 24px;
}

.s36px{
    font-size: 36px;
}

.s48px{
    font-size: 48px;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.logos{
    padding: 16px;
}

.section{
    border-style: dashed;
    border-width: medium;
    border-color: cornflowerblue;
    border-radius: 16px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 8px;
}
 
.subsection{
    border-style: dotted;
    border-width: thin;
    border-color: blue;
    border-radius: 8px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 8px;
}

.menu{
    background-color: #aaa6f0;
    list-style-type: none;
    margin: 0px;
    padding-top: 5%;
    width: 26%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.option{
    display:block;
    padding-right: 24px;
    padding-top: 12px;
    font-size: 24px;
}

.away{
    padding-left: 27%;
}